/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 17-Jul-18. 
 */

.THIS .slds-form-element__label {
  font-weight: 800;
}
.THIS.slds-section-title--divider {
  background: #e42374;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 15px;
  color: #ffffff;
  padding: 0;
}
.THIS label {
  padding-right: 10px;
  font-weight: 800;
}
.THIS .slds-is-relative {
  width: 95%;
  margin: 20px auto;
  float: right;
}
.THIS .slds-form-element__static  {
  font-size: 1rem;
}
.THIS .slds-theme_error  {
  visibility: hidden;
}