/**
 * Created by jfischer on 7/20/2016.
 */
.THIS .numberCircle {
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
  margin: auto;
}