@font-face {
  font-family: 'Salesforce Sans';
  src: url('./SalesforceSans-Regular.eot');
  src: url('./SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'), url('./SalesforceSans-Regular.woff2') format('woff2'), url('./SalesforceSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
}
