﻿html {
  background-color: #e0e8e8;
  font-family: 'Salesforce Sans',Arial,sans-serif;;
  line-height: 1.5;
  font-size: 100%;
}

body {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #fbffff;
  overflow: hidden;
  font-size: 0.8125rem;
}

.phone,
.phone input {
  font-size: 0.8125rem;
}

/* SCREEN **************************************************************/
.phone .screen {
  padding: 6px 10px;
  box-sizing: border-box;
}

.phone .screen > .content{
  padding-top: 6px;
}

.phone input.textInput {
  color: rgb(22,50,92);
  border-width: 1px;
  border-style: solid;
  line-height: 1.875rem;
  background-color: rgb(255,255,255);
  border-color: rgb(216,221,230);
  box-sizing: border-box;
  border-radius: 0.25rem;
  max-height: calc(1.875rem - 2px);
  min-height: 1.5rem;
  padding: 0 .5rem 0 .4375rem;
}

.phone .horizontal input:not([type]), input[type="text"]:focus,
.phone .vertical input:not([type]), input[type="text"]:focus,
.phone .contactCard > div:focus,
.phone input:focus {
  outline-width: 0;
  border-color: rgb(82, 120, 152);
}

.phone .phone .content {
  height: calc(100% - (31px + 40px)); /* header = 31px; footer = 40px*/
  overflow: hidden;
}

.phone .vertical div.footer {
  padding-bottom: 10px;
}

.phone .content {
  overflow: hidden;
}

.phone .label {
  white-space: pre;
  text-align: left;
  text-decoration: none;
  color: rgb(22, 50, 92);
}

.phone select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: #015ba7;
  background-color: inherit;
  padding: 0 10px;
}

.phone select:hover {
  text-decoration: underline;
}

.phone select:focus {
  outline: none;
}

.phone option {
  padding: 3px;
}

.phone svg path {
  fill: inherit;
}

.phone button > .text {
  font-size: 0.75rem;
}

.phone button > .image {
  border-width: 1.5px;
  border-style: solid;
}

.phone button > div.image + span.text {
  top: 0px;
}

.phone td:only-child {
  padding: 4px 0;
}

.phone .phoneBar .calls .button>.image {
  width: 1.5em;
  height: 1.5em;
}

.tooltipCont {
  position: absolute;
  z-index: 80;  
  padding: 2px 5px;
  background-color: rgb(251, 255, 255);
  border: 1px solid rgb(0, 95, 178);
  border-radius: 5px;
  font-size: 12px;
  transform: translate(17px, -24px); 
  -ms-transform: translate(17px, -24px); /* for IE9 support */
  white-space: nowrap;
  min-width: 30px;
  min-height: 18px;
}

.tooltipCont .arrow {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 10px;
  border-width: 12px 12px 0px 0px;
  border-style: solid;
  border-color: rgb(0, 95, 178) rgba(0, 0, 0, 0);
  width: 0;
}

.tooltipCont .arrow::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 1px;
  border-width: 10px 10px 0px 0px;
  border-style: solid;
  border-color: rgb(251, 255, 255) rgba(0, 0, 0, 0);
  width: 0;
}

.tooltipCont.left {
  transform: translate(-65%, -24px); 
  -ms-transform: translate(-65%, -24px); /* for IE9 support */
}

.tooltipCont.left .arrow {
  border-width: 12px 0px 0px 12px;
  left: unset;
  right: 30%; /* will keep the arrow in roughly the same area on the parent icon regardless of what text is in the tooltip */
}

.tooltipCont.left .arrow::after {
  border-width: 10px 0px 0px 10px;
  left: -11px;
}

/* CALLSCREEN *****************************************************************/
.phone .screen.call .title2 {
  color: #16325c;
  font-weight: normal;
}

.phone .main.call .title2 {
  text-align: right;
}

.phone div.call > div.content > div > div.buttons {
  border: none;
}

.phone .contactBar .callScreenButton {
  border: 1px solid rgb(216, 221, 230);
  border-bottom-right-radius: 5px;
  border-left: none;
  display: inline-block;
  vertical-align: top;
}

.phone .contactBar .callScreenButton .image {
  height: 40px
}

.phone .contactBar .callScreenButton svg {
  width: 24px;
  height: 24px;
  fill: rgb(0, 95, 178);
  border: 2px solid rgb(0, 95, 178);
  border-radius: 100%;
  margin: 5px 4px 4px 4px;
}

.contactBar .callScreenButton svg:hover {
  fill: rgb(251, 255, 255);
  background-color: rgb(0, 95, 178);
  border-color: rgb(0, 95, 178);
}

.contactBar .callScreenButton svg:active {
  fill: rgb(0, 95, 178);
  border-color: rgb(0, 95, 178);
  background-color: rgb(251, 255, 255);
}

.contactBar {
  margin-bottom: 10px;
}

.phone .contactBar .callScreenButton div.image.disabled svg,
.phone .contactBar .callScreenButton div.image.disabled svg:hover,
.phone .contactBar .callScreenButton div.image.disabled svg:active {
  background-color: rgb(251, 255, 255);
  border-color: rgb(216, 221, 230);
  fill: rgb(216, 221, 230);
}

.phone .contactBar .participantsBar {
  height: 40px;
  width: calc(100% - 79px);
  display: inline-block;
  border-top: 1px solid rgb(216, 221, 230);
  border-bottom: 1px solid rgb(216, 221, 230);
  background-color: rgb(251, 255, 255);
  overflow: hidden;
}

.phone .contactBar .partyIcon .image.held svg {
  fill: #f88962;
}

.phone .contactBar .partyIcon svg {
  width: 30px;
  height: 30px;
  fill: rgb(46, 144, 65);
  padding: 4.5px;
}

.phone .contactBar .partyIcon {
  height: 41px;
  width: 40px;
  display: inline-block;
}

.phone .contactBar span.primary .partyIcon {
  display: inline-block;
  background-color: rgb(244, 246, 249);
  vertical-align: top;
  border: 1px solid rgb(216, 221, 230);
  border-top: none;
  border-bottom-left-radius: 5px;
}

.phone .contactBar span.primary .partyIcon .image {
  height: 40px;
}

.partyIcon {
  display: inline-block;
  vertical-align: top;
}

/* LOGIN SCREEN **********************************************************************/

.phone > .login {
  padding-top: 3px;
}

.phone.AmazonConnect .login .buttons {
  position: absolute;
  width: 8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.phone .button.loginButton {
  margin-top: 8px;
  padding: 6px;
}

.phone div.login div.field div.label {
  padding-left: 5px;
}


/* DIAL SCREEN **********************************************************************/

.phone .dial .content div.label {
  padding-left: 5px;
}

.phone .dial .phoneNumInput {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* PHONEBAR *******************************************************************/

.phone .phoneBar {
  box-sizing: border-box;
  background-color: rgb(247, 249, 251);
  border-bottom: 1px solid #dedede;
  padding: 5px 3px;
}

.phone .phoneBar .multiButton.calls button {
  background-color: rgb(247, 249, 251);
  height: unset;
  border: none;
}

.phone .phoneBar .calls button svg > path {
  fill: #16325c;
}

.phone .phoneBar .calls button:hover {
  background: rgb(247, 249, 251);
}

.phone .phoneBar .calls button:hover > .image {
  background: rgb(247, 249, 251);
}

.phone .phoneBar .calls button svg > path {
  fill: #16325c;
}

.phone .phoneBar .calls button:disabled svg > path {
  fill: #7d8385;
}

.phone .phoneBar .calls .button > .image {
  background-color: unset !important;
}

.phone .phoneBar .multiButton  button:enabled > .text {
  font-weight: bold;
  color: #015ba7;
}

.phone .phoneBar .calls {
  border-spacing: 8px 0;
}

.phone .phoneBar .calls > .container {
  overflow: hidden;
}

.phone .phoneBar .calls, 
.phone .phoneBar .calls > .container, 
.phone .phoneBar .calls .button > .image,
.phone .phoneBar .multiButton.calls .container .button  {
  border: none;
}

/* BUTTONS **********************************************************************/
.phone button {
  cursor: pointer;
}

.phone button > .text {
  width: inherit;
  background-image: none;
}

.phone button {
  font-family: 'Salesforce Sans',Helvetica,Arial,sans-serif; /* user agent stylesheet will override html font-family  */
  background-image: none;
  border: 1px solid rgb(216,224,230);
  border-radius: 3px;
  background-color: #ffffff;
  padding: 8.5px 0;
}

.phone button:enabled > .text {
  color: rgb(0,95,178);
}

.phone button:enabled {
  border: 1px solid rgb(255,255,255);
  border-color: rgb(216,224,230);
}

.phone button:hover:enabled {
  background-color: rgb(244,246,249);
}

.phone button:active:enabled {
  background-color: rgb(238,241,246);
}

/* MULTIBUTTON **********************************************************************/
.phone .multiButton .container button {
  border-radius: 0;
}

.phone .multiButton .container:first-child button {
  border-radius: 5px 0 0 5px;
}

.phone .multiButton .container:last-child button {
  border-radius: 0 5px 5px 0;
}

.phone .multiButton .container:only-child button {
  border-radius: 5px 5px 5px 5px;
}

/* CONTACT CARD ***************************************************************************/
.phone .contactCard {
  padding: 5px;
  background-color: rgb(244, 246, 249);
  border: 1px solid rgb(216, 221, 230);
  border-radius: 5px;
  margin: 10px 0 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.phone .contactCard div {
  background-color: inherit;
  border: none;
}

.phone .contactCard .header .label,
.phone .contactCard .field .label {
  color: rgb(22, 50, 92);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phone div.contactCard .header .label {
  font-size: 1rem;
}

.phone .contactCard .field .label {
  font-size: 0.75rem;
}

.phone .contactCard div.image svg {
  fill: #f88962;
}

/* PHONEBOOK **************************************************************************/
.phone .phoneBook {
  color: #464646;
  box-sizing: border-box;
  border-color: rgb(216,221,230);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: auto !important;
}

.phone div.phoneBook .image svg {
  fill: #46722c;
}

.phone div.phoneBook .image {
  vertical-align: top;
  padding-top: 2px;
}

.phone div.phoneBook .item {
  padding: 2.5px 0;
  height: 20px;
}

.phone div.phoneBook .label {
  color: #16325c;
  font-family: 'Salesforce Sans';
  font-size: 0.8125rem;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  cursor: context-menu;
}

/* IMAGES 'n STUFF *******************************************************************/
.phone button > div.image > svg > path {
  opacity: 1;
  fill: #fff;
}

/* TREEBRANCH ***********************************************************************/

.phone .phoneBook div.node,
.phone .phoneBook div.branch {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  box-sizing: border-box;
}

.phone .phoneBook .selected > div.item {
  border-right-color: rgb(238, 99, 21);
  background-color: rgb(224, 234, 251);
}

.phone .phoneBook .node > div.item:hover {
  background-color: rgb(218, 225, 236);
}

.phone .phoneBook div.node > .label {
  vertical-align: middle;
}

.phone div.imageArea {
  border-left: 2px solid transparent;
}

.phone div.imageArea.button:hover {
  box-sizing: border-box;
  border-left: 2px solid rgb(238, 99, 21);
}

.phone div.imageArea.button:active {
  background-color: rgb(255, 148, 88);
}

/* READYSTATE **********************************************************************/
.phone .readyState .label {
  font-size: 0.8125rem;
}

.phone .readyState.menuOpened > .selectMenu {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  color: rgb(22,50,92);
  overflow-x: hidden;
  overflow-y: auto;
}

.phone div.readyState.menuOpened > .selectMenu > div {
  text-decoration: none;
}

.phone div.readyState:hover {
  cursor: pointer;
}

.phone div.readyState:hover > div.label {
  text-decoration: underline;
}

.phone div.selectMenu > div {
  border-left: 5px solid transparent;
}

.phone div.selectMenu > div:hover {
  outline: none;
  text-decoration: underline;
  background-color: rgb(244,246,249);
}

/* KVP **********************************************************************/
.phone ul.kvpList {
  padding: 5px;
  background-color: rgb(244, 246, 249);
  border: 1px solid rgb(216, 221, 230);
  border-radius: 5px; 
  list-style: none;
  height: 60px;
  margin: 10px 0 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.phone ul.kvpList li {
  margin-left: 0;
}

.phone li > div.label.kvpKey,
.phone li > div.label.kvpValue {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #464646;
  line-height: 18px;
  font-weight: normal;
}

/* CallList **********************************************************************/
.phone .screen.callList .callList > .call {
  border: 1px solid rgb(216, 221, 230);
  border-radius: 0.25rem;

  background: rgb(244, 246, 249);
  margin: 10px 0;
  overflow: hidden;
}

.phone .screen.callList .call .contactCard {
  border: none;
  margin: 0;
  padding: 6px 10px;
}

.phone .screen.callList .call .multiButton .button {
  border-bottom: none;
}

.phone .screen.callList .call .multiButton .container:first-child button {
  border-left: none;
}

.phone .screen.callList .call .multiButton .container:last-child button {
  border-right: none;
}
