﻿html {
  background-color: #e0e8e8;
  font-family: 'Salesforce Sans', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  position: absolute;
  bottom: 5px;
  top: 5px;
  left: 5px;
  right: 5px;
  border-radius: 8px;
  margin: 0;
  background-color: #fbffff;
  border: 1px solid #dedede;
  overflow: hidden;
}

/* SCREEN **************************************************************/
.phone .screen {
/*  padding: 6px 14px;*/
  box-sizing: border-box;
}

.phone .content,
.phone .footer {
  box-sizing: border-box;
  border-collapse: collapse;
  border-width: 0 14px;
  border-style: solid;
  border-color: transparent;
}

.phone .contactCard {
  background-color: rgb(242, 243, 243);
  padding: 2px 5px;
}

.phone .contactCard > div,
.phone input.textInput {
  color: #464646;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-size: 13px;
  line-height: 18px;
  border-color: #bee6ff;
  background-color: #fff;
  box-sizing: border-box;
}


.phone .contactCard {
  background-color: rgb(242, 243, 243);
}

.phone .contactCard .topRow .image {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.phone .contactCard div.fields {
  display: block;
  width: 100%;
  vertical-align: top;
  padding: 6px;
  padding-left: 13px;
}

.phone .contactCard .holdButton {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 9px;
  border: 1px solid rgb(0, 0, 0);
  vertical-align: top;
}

.phone .contactBar {
  height: 40px;
}

.phone .contactBar .partyIcon svg {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  padding: 1.5px;
  fill: rgb(46, 144, 65);
}

.phone .contactBar .partyIcon .image.held svg {
  fill: #f88962;
}

.phone .contactBar .partyIcon svg {
  width: 30px;
  height: 30px;
  fill: rgb(46, 144, 65);
  padding: 4.5px;
  border-bottom: 1px solid rgb(222,222,222);
  border-right: 1px solid rgb(222,222,222);
}

.phone .contactBar .partyIcon {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.phone .contactBar span.primary .partyIcon {
  display: inline-block;
  background-color: rgb(242, 243, 243);
  border-bottom: 1px solid rgb(222,222,222);
  border-right: 1px solid rgb(222,222,222);
  vertical-align: top;
}

.partyIcon {
  display: inline-block;
  vertical-align: top;
}

.phone .contactBar .participantsBar {
  height: 40px;
  width: calc(100% - 77px);
  display: inline-block;
  border-top: 1px solid rgb(222,222,222);
  background-color: white;
  overflow: hidden;
}

.phone .contactBar .callScreenButton {
  border-top: 1px solid rgb(222,222,222);
  display: inline-block;
  vertical-align: top;
}

.phone .contactBar .callScreenButton .image {
  padding-top: 2px;
}

.phone .contactBar .callScreenButton svg {
  width: 24px;
  height: 24px;
  fill: rgb(0, 112, 210);
  border: 2px solid rgb(0, 112, 210);
  border-radius: 100%;
  margin: 4px;
}

.contactBar .callScreenButton svg:hover {
  fill: white;
  background-color: rgb(0, 95, 178);
  border-color: rgb(0, 95, 178);
}

.contactBar .callScreenButton svg:active {
  fill: rgb(0, 95, 178);
  border-color: rgb(0, 95, 178);
  background-color: white;
}

.phone .contactBar .callScreenButton div.image.disabled svg,
.phone .contactBar .callScreenButton div.image.disabled svg:hover,
.phone .contactBar .callScreenButton div.image.disabled svg:active {
  background-color: white;
  border-color: rgb(222,222,222);
  fill: rgb(222,222,222);
}

.tooltipCont {
  position: absolute;
  z-index: 80;
  background-color: white;
  border: 1px solid rgb(74, 144, 226);
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  transform: translate(17px, -24px); 
  -ms-transform: translate(17px, -24px); /* for IE9 support */
  white-space: nowrap;
  min-width: 30px;
}

.tooltipCont .arrow {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 10px;
  border-width: 12px 12px 0px 0px;
  border-style: solid;
  border-color: rgb(74, 144, 226) rgba(0, 0, 0, 0);
  width: 0;
}

.tooltipCont .arrow::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 1px;
  border-width: 10px 10px 0px 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255) rgba(0, 0, 0, 0);
  width: 0;
}

.tooltipCont.left {
  transform: translate(-65%, -24px); 
  -ms-transform: translate(-65%, -24px); /* for IE9 support */
}

.tooltipCont.left .arrow {
  border-width: 12px 0px 0px 12px;
  left: unset;
  right: 30%; /* will keep the arrow in roughly the same area on the parent icon regardless of what text is in the tooltip */
}

.tooltipCont.left .arrow::after {
  border-width: 10px 0px 0px 10px;
  left: -11px;
}

.titleBar {
  padding: 5px 13px 0 13px;
  background-color: rgb(242, 243, 243);
}

.content > .buttons {
  padding: 0 13px;
}

.phone input.textInput.phoneNumInput {
  border-radius: 5px 5px 0 0;
}

.footer .panel.buttons {
  padding: 0 13px;
}

.phone .content {
  overflow: hidden;
}

.phone .label {
  white-space: pre;
  font-size: 12.5px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: #015ba7;
}

.phone select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 12.5px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: #015ba7;
  background-color: inherit;
  padding: 0 10px;
}

.phone select:hover {
  text-decoration: underline;
}

.phone select:focus {
  outline: none;
}

.phone option {
  padding: 3px;
}

.phone svg path {
  fill: inherit;
}

.phone button > .image {
  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;
}

.phone td:only-child {
  padding: 4px 0;
}

/* CALLSCREEN *****************************************************************/
.phone .main.call .title2 {
  text-align: right;
}

/* LOGIN SCREEN **********************************************************************/

.phone > .login {
  padding-top: 3px;  
}

.phone.AmazonConnect .login .buttons {
  position: absolute;
  width: 8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.phone .button.loginButton {
  margin-top: 8px;
  padding: 6px;
}

/* PHONEBAR *******************************************************************/

.phone .phoneBar {
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
  background-color: #f2f3f3;
  border-bottom: 1px solid #dedede;
}

.phone .phoneBar .select.readyState {
  padding-left: 11px;
}

.phone .phoneBar .calls button {
  background-color: #f2f3f3 !important;
  height: unset;
  border: 0;
}

.phone .phoneBar .calls button:hover {
  background-color: #f2f3f3;
}

.phone .phoneBar .calls button:hover > .image {
  background: #f2f3f3;
}

.phone .phoneBar .calls button svg > path {
  fill: #16325c;
}

.phone .phoneBar .calls button:disabled svg > path {
  fill: #7d8385;
}


.phone .phoneBar .calls {
  border: none;
}

.phone .phoneBar .multiButton > .container {
  border: none;
}

.phone .phoneBar .calls .button > .image {
  border: none;
}

/* BUTTONS **********************************************************************/
.phone button > .text {
  width: inherit;
  background-image: none;
  font-size: 12.5px;
}

.phone button {
  font-family: 'Salesforce Sans',Helvetica,Arial,sans-serif; /* user agent stylesheet will override html font-family  */
  background-image: none;
  border: 1px solid #e0e5ee;
  font-size: 12.5px;
  border-radius: 3px;
  background-color: #f8f8f8;
  padding: 6px 0;
}

.phone button:enabled > .text {
  color: #fff;
}

.phone button:enabled {
  background-color: #0070d2;
  border-color: #4a90e2;
}

.phone button:hover:enabled {
  background-color: #005fb2;
  border-color: #4a90e2;
}

.phone button:active:enabled > .text {
  color: #005fb2;
}

.phone button:active:enabled {
  background-color: #fff;
  border-color: #4a90e2;
}

/* MULTIBUTTON **********************************************************************/
.phone .multiButton .container button {
  border-radius: 0;
}

.phone .multiButton .container:first-child button {
  border-radius: 5px 0 0 5px;
}

.phone .multiButton .container:last-child button {
  border-radius: 0 5px 5px 0;
}

.phone .multiButton .container:only-child button {
  border-radius: 5px 5px 5px 5px;
}

/* CONTACT CARD ***************************************************************************/
.phone .contactCard div {
  background-color: inherit;
  border: none;
}

.phone .contactCard div > .label {
  color: #464646;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.phone .contactCard .header .label, .contactCard .subfield .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phone .contactCard div.header > .label {
  font-size: 1.4em;
  line-height: 25px;
  color: #015ba7;
}

.phone .contactCard div.image svg {
  fill: #f88962;
}

.phone div.imageArea.button:hover {
  background-color: #c6e1ff;
}

.phone div.imageArea.button:active {
  background-color: #87befb;
}

/* PHONEBOOK **************************************************************************/
.phone div.phoneBook {
  color: #464646;
  border-width: 1px;
  border-style: solid;
  border-radius: 0 0 5px 5px;
  border-color: #bee6ff;
  border-top: none;
  overflow: auto;
  width: calc(100% - 2px); /* Fixing a rendering issue of vertically aligning elements not aligning because of differences in border/padding */
}

.phone div.phoneBook > div:nth-child(even) {
  background-color: #f2f7ff;
}

.phone div.phoneBook .image svg {
  fill: #46722c;
}

.phone div.phoneBook .image {
  vertical-align: top;
}

.phone div.phoneBook .label {
  font-family: 'Salesforce Sans';
  color: #16325c;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* IMAGES 'n STUFF *******************************************************************/
.phone button > div.image > svg > path {
  opacity: 1;
  fill: #fff;
}

/* TREEBRANCH ***********************************************************************/

.phone .phoneBook div.node,
.phone .phoneBook div.branch {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.phone .phoneBook .selected > div.item {
  background-color: #c6e1ff;
}


/* READYSTATE **********************************************************************/
.phone div.readyState.menuOpened > .selectMenu {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .75);
  overflow-x: hidden;
  overflow-y: auto;
}

.phone div.readyState.menuOpened > .selectMenu > div {
  color: #222;
  text-decoration: none;
  font-size: 12.5px;
}

.phone div.readyState:hover > div.label {
  text-decoration: underline;
}

.phone div.selectMenu > div:hover {
  outline: none;
  color: #015ba7;
  text-decoration: underline;
  background-color: #cfeef8;
}

/* KVP **********************************************************************/
.phone ul.kvpList {
  background-color: rgb(242, 243, 243);
  list-style: none;
  height: 60px;
}

.phone li > div.label.kvpKey,
.phone li > div.label.kvpValue {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #464646;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

/* CallList **********************************************************************/
.phone .screen.callList .callList > .call {
  border-top: 3px solid #0070d2;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-botton: 1px solid #eaeaea;
  border-radius: 4px;

  background-color: #f2f3f3;
  box-sizing: border-box;
  margin: 10px 0;
  overflow: hidden;
}

.phone .screen.callList .callList > .call .contactCard {
  padding: 6px 10px;
}

.phone .screen.callList .callList > .call .multiButton .container button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
