.THIS .panel  {
  min-height: 300px;
}

.THIS .tab-body {
  overflow: auto;
  max-height: 200px;
}
.THIS .slds-vertical-tabs {
  min-height: 290px;
  margin: 10px;
}
.THIS .label  {
  background-color: yellow;
}
.THIS .content  {
  overflow: auto;
}
.THIS .message-date {
  float: right; 
  position: relative; 
  right: 10px;
  margin-bottom: 10px;
}
.THIS .title  {
  margin: 10px auto;
  color: #39398c;
  text-align: center;
}
.THIS .content  {
  margin: auto;
}