/**
 * Created by jliu on 7/18/2018.
 */
h1.THIS {
  font-size: 1.2em;
}

.THIS label {
  margin-left: 0;
  font-size: .8em;
}

.THIS textarea {
  height: 150px;
}

.THIS .slds-form-element__control {
  width: 300px;
}