<!--
- Copyright 2017, Aria Solutions Inc.
-
- All Rights Reserved
- Customers of Aria Solutions are permitted to use and modify this 
 - code in all of their Salesforce Orgs (Production, Sandboxes), but 
 - any form of distribution to other Salesforce Orgs not belonging to 
 - the customer require a written permission from Aria Solutions. 
-->


<apex:page id="AAC_CustomLookup" controller="AAC_CustomLookupController" showHeader="false" sideBar="false" lightningStylesheets="true">
  <apex:includeScript value="{!URLFOR($Resource.AU_Resources, 'bootstrap.js')}" />
  <apex:include pageName="AU_Include" />
  <script language="javascript">
    window.onload = new function()
    {

      // bring popup window to front
      window.focus();
      var ele=document.getElementById('{!$Component.form.block.section.query}');

      if (ele)
      {
         ele.focus();
      }

    };
    
    function fillIn(name, id)
		{

		  var winMain=window.opener;

		  if (null==winMain)
		  {
			winMain=window.parent.opener;
		  }

		  var ele=winMain.document.getElementById('{!$CurrentPage.parameters.namefield}');
		  ele.value=name;

		  ele=winMain.document.getElementById('{!$CurrentPage.parameters.idfield}');
		  ele.value=id;

		  CloseWindow();
		};
    
    function CloseWindow()
		{
		  var winMain=window.self;
		  winMain.close();
		};
</script>
  <apex:slds />

  <apex:form id="form" >
    <div class="slds-scope" style="margin:5px;">
      <apex:pageBlock title="Lookup" id="block">

        <apex:pageBlockSection id="section">
          <label class="slds-form-element__label">Enter search text and click Go</label><br/>
          <apex:inputText styleClass="slds-input" value="{!query}" id="query"/>
          <apex:commandButton value="Go" styleClass="slds-button slds-button_brand" action="{!runQuery}" reRender="pageBlockTables"/>
        </apex:pageBlockSection>
      </apex:pageBlock>
      <!--TODO: add fieldset for case and opportunity-->
      <apex:pageBlock id="pageBlockTables">
        <apex:messages style="color:red;" id="message"/>
        <apex:pageBlockSection columns="1">
          <apex:pageBlockTable value="{!cases}" var="case" rendered="{!cases != null && cases.size > 0}">
            <apex:column headerValue="Name">
              <apex:outputLink value="#" id="fillCase" onclick="fillIn('{!case.CaseNumber}', '{!case.Id}');">{!case.CaseNumber}</apex:outputLink>               
            </apex:column>
            <apex:column headerValue="Subject" value="{!case.subject}"/>
          </apex:pageBlockTable>
          <apex:pageBlockTable value="{!opportunities}" var="opportunity" rendered="{!opportunities != null && opportunities.size > 0}">
            <apex:column headerValue="Name">
              <apex:outputLink value="#" id="fillOpportunity" onclick="fillIn('{!JSENCODE(opportunity.Name)}', '{!opportunity.Id}');">{!opportunity.Name}</apex:outputLink>
            </apex:column>
          </apex:pageBlockTable>
        </apex:pageBlockSection>
      </apex:pageBlock>
      <button type="button" id="saveBtn" class="slds-button slds-button_brand" onclick="CloseWindow()">Close Window</button>
    </div>
  </apex:form>
</apex:page>