<apex:page showHeader="false" sideBar="false" applyHtmlTag="false" applyBodyTag="false" standardController="Contact">
    <html>
        <head>
            <apex:slds />
            <script>
            	function clickToDial(phone) {
                    const Http = new XMLHttpRequest();
                    const url = "https://m9uunccvlh.execute-api.us-east-1.amazonaws.com/api/initiate?dial=4038010087&phone=" + phone;
                    Http.open("POST", url);
                    Http.send();
                }
            	
            	document.addEventListener("DOMContentLoaded", function(event) {
                    var phone = "{!Contact.Phone}";
                    phone = phone.replace(/\D/g,"");
                    
                    if (phone.length === 11 && phone.charAt(0) === "1") {
                        phone = phone.substr(1);
                    }
                    
                    if (phone.length === 10) {
                        var phoneStart = phone.substr(0, 3);
                        var phoneMid = phone.substr(3, 3);
                        var phoneEnd = phone.substr(6);
                        phone = "(" + phoneStart + ") " + phoneMid + "-" + phoneEnd;
					}
                    
                    document.getElementById("phoneNumber").innerText = phone;
                });
            </script>
        </head>
        <body class="slds-scope">
            <div class="slds-form-element slds-form-element_readonly">
                <span class="slds-form-element__label">Phone</span>
                <div class="slds-form-element__control">
                    <span class="slds-form-element__static">
                        <a href="#" onclick="clickToDial({!Contact.Phone});">
                            <span class="slds-icon_container slds-icon-utility-call">
                                <svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true" style="fill: rgb(0, 109, 204);">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" 
                                         xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#call')}"></use>
                                </svg>
                            </span>
                            <span id="phoneNumber" />
                        </a>
                    </span>
                </div>
            </div>
        </body>
    </html>    
</apex:page>