<apex:page standardController="Task" showHeader="false" title="Call Recording" standardStylesheets="false" lightningStylesheets="true">
  <apex:slds />
  <div style="margin-top:20px"><c:SC_CallRecordingPlayer urlToMedia="{!Task.Interaction_Segment__r.Call_Recording__c}" /></div>
</apex:page>