<!-->
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this
 * code in all of their Salesforce Orgs (Production, Sandboxes), but
 * any form of distribution to other Salesforce Orgs not belonging to
 * the customer require a written permission from Aria Solutions
 * ***************************************************
 * Created Date: Monday November 11th 2019
 * Author: varonov
-->

<apex:page standardController="Task" extensions="SC_CallRecordingTask" action="{!RetrieveRecording}" showHeader="false" title="Call Recording" standardStylesheets="false" lightningStylesheets="true">
  <apex:slds />
  <script>
    function refresh() {
      window.location.reload();	   
    }
  </script>
  <style>
    .player {
      margin: 20px 0;
    }
  </style>
  
  <div class="player" id="player"><c:SC_CallRecordingPlayer urlToMedia="{!Task.Interaction_Segment__r.Call_Recording__c}" /></div>
    
  <button class="slds-button slds-button_neutral" onclick="refresh();">Update</button>
</apex:page>