.phone button.release
{
    background-color: #c62828;
    border-color: #c62828;
}

.phone button.release:hover
{
    background-color: #7f1a1a;
    border-color: #7f1a1a;
}

.phone button.answer
{
    background-color: #388e3c;
    border-color: #388e3c;
}

.phone button.answer:hover
{
    background-color: #27622a;
    border-color: #27622a;
}

.phoneBar
{
    background-image: url(/resource/aria_logo);
    background-repeat: no-repeat;
    background-size: auto 80%;
    
    background-position: center;
}