/** Copyright 2018, Aria Solutions Inc.
 *
 * All Rights Reserved
 * Customers of Aria Solutions are permitted to use and modify this 
 * code in all of their Salesforce Orgs (Production, Sandboxes), but 
 * any form of distribution to other Salesforce Orgs not belonging to 
 * the customer require a written permission from Aria Solutions.
 * Created on 17-Jul-18.
 */

.THIS .slds-form-element__label  {
  font-size: 1em;
}
.THIS .notUploading {
  visibility: hidden;
}
.THIS .uploading {
  visibility: visible;
  display: inline-block;
  margin-top: 10px;
}
.THIS .small-spinner {
  height: 20px;
  width: 20px;
}
.THIS .slds-form-element__help  {
  display: none;
}
.THIS .form_field {
  margin: 30px 0;
}
.THIS .slds-form-element__help  {
  display: block;
}